<div class="min-h-screen p-8">
  <header>
    <div class="text-center mb-12">
      <h1 class="text-4xl font-bold mb-4">Random Activity Selector</h1>
      <p class="text-xl">Click a deck or roll the dice to reveal an activity!</p>
    </div>
    <div class="new-activity-container">
      <button class="new-activity-button" (click)="openNewActivityModal()">Add new activity</button>
    </div>
  </header>

  <div class="cards-container">
    <div class="cards-grid">
      <app-card-deck
        *ngFor="let deck of decks"
        [type]="deck"
        (selected)="selectDeck(deck)"
        #deckRef
      ></app-card-deck>
      <div class="dice-container">
        <img *ngIf="isRolling" src="assets/dice.gif" alt="">
        <img *ngIf="!isRolling" src="assets/dice-static.jpg" alt="" (click)="rollDice()">
      </div>
    </div>
  </div>
</div>
