.card {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 24px #1d3557;
}

.card-front {
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-back {
  background: linear-gradient(to bottom right, #353333, #080708);
  transform: rotateY(180deg);
  color: white;
  padding: 20px;
  font-size: larger;

  &-time {
    position: absolute; top: 15px; right: 15px; color: #ccc
  }
}
